
<div class="container">
<table>
<% @events.each do |event| %>
<tr>
    <td><%=event.name%></td>
    <td><a href="/admin/events/edit/<%=event.id%>">edit</a></td>
    <% if event.deleted %>
    <td><a href="/admin/events/recover/<%=event.id%>">recover</a></td>
    <% else %>
    <td><a href="/admin/events/destroy/<%=event.id%>">destroy</a></td>
    <% end %>
        <td><a href="/admin/events/<%=event.id%>/videos/index">videos</a></td>

</tr>
<% end %>
</table>
</div>