<h1><%=@category%> events</h1>
<table>
<% @events.each do |event| %>
<tr>
    <td><%=event.name%></td>
    <td><a href="/admin/events/edit/<%=event.id%>">edit</a></td>
    <% if event.deleted %>
    <td><a href="/admin/events/recover/<%=event.id%>">recover</a></td>
    <% else %>
    <td><a href="/admin/events/destroy/<%=event.id%>">destroy</a></td>
    <% end %>
</tr>
<% end %>
</table>