
<table id="admin-events-list">
<tr>
    <th>name</th>
    <th>start</th>
    <th>end</th>
    <th>actions</th>
    <% VideoFormat.all.each do |vf| %>
        <th><%=vf.name%>video</th>
    <% end %>
</tr>
<% @events.each do |event| %>
    <tr>
        <td><%=event.name%></td>
        <td><%=event.start%></td>
        <td><%=event.end%></td>

        <td><a href="/admin/events/edit/<%=event.id%>">edit</a>
        <% if event.deleted %>
         | <a href="/admin/events/recover/<%=event.id%>">recover</a></td>
        <% else %>
         | <a href="/admin/events/destroy/<%=event.id%>">destroy</a></td>
        <% end %>
        <% VideoFormat.all.each do |vf| %>
            <% if REDIS.exists("video_queue:#{event.id}:#{vf.id}") %>
                <td>...</td>
            <% elsif event.video_exists(vf.name) %>
                <td><a href="<%=event.video_link(vf.name)%>">video</a> | <a href="<%=event.screenshot_url(vf)%>">image</a></td>
            <% end %>
        <% end %>
    </tr>
<% end %>
</table>
