<style>
    #edit-form {
        width:200px;
        position:absolute;
        right:0;
        z-index:9999;
    }

    #banner {
        position:fixed;
        left:0;
        top:50px;
    }
    #screenshot {
        width:50px;
        height:auto;
    }
</style>
<form method="post" id="edit-form" enctype="multipart/form-data" action="/admin/events/update">
    <select id="size-select">
 
    </select>


    <label>name</label>
    <input type="text" name="name" value="<%=@event.name%>" placeholder="name"/>
    <label>starts</label>
    <% if @event.start && @event.start!="" %>
    <input type="date" id="start" name="start" value="<%=@event.start.in_time_zone("Santiago")%>">
    <% else %>
    <input type="date" id="start" name="start" value="">
    <% end %>
    <label>ends</label>
    <% if @event.end && @event.end!="" %>
    <input type="date" id="end" name="end" value="<%=@event.end.in_time_zone("Santiago")%>">
    <% else %>
    <input type="date" id="end" name="end" value="">
    <% end %>
    <input type="hidden" name="id" value="<%=@event.id%>"/>
    <input type="hidden" name="start_changed" value="false"/>
    <input type="hidden" name="end_changed" value="false"/>
    <label>background</label>
    <input type="file" name="background"/>

    <label>text_color</label>
    <input type="text" name="text_color" value="<%=@event.text_color%>" placeholder="text_color"/>
    <label>title_color</label>
    <input type="text" name="title_color" value="<%=@event.title_color%>" placeholder="title_color"/>

    <label>mp3</label>
    <input type="file" name="mp3"/>

    <label>acts</label>
    <input type="button" value="+" onclick="javascript:add_act()"> 
    <div id="acts">

    </div>
     <label>live</label>
    <input type="checkbox" name="live" value="true" <% if @event.live %>checked<% end %>>
    <% VideoFormat.all.each do |vf| %>
        <a href="/evento/<%=@event.url_id%>/<%=vf.id%>" target="_blank"><%=vf.name%></a>
    <% end %>
    <input type="submit">

</form>
<iframe src="/evento/<%=@event.url_id%>" width="600" height="600" style="width:600px;height:600px;position:fixed;top:30px;left:0;">

</iframe>

