
<div class="container">
<table>
<% @events.each do |event| %>
<tr>
    <td><%=event.name%></td>
    <td><a href="/admin/events/edit/<%=event.id%>">edit</a></td>
    <% if event.deleted %>
    <td><a href="/admin/events/recover/<%=event.id%>">recover</a></td>
    <% else %>
    <td><a href="/admin/events/destroy/<%=event.id%>">destroy</a></td>
    <% end %>
    <% if event.video_exists(600,600) %>
        <td><a href="<%=event.video_link(600,600)%>">1</a></td>
    <% end %>
    <% if event.video_exists(1920,1080) %>
        <td><a href="<%=event.video_link(1920,1080)%>">2</a></td>
    <% end %>
</tr>
<% end %>
</table>
</div>