<style>
    #edit-form {
        width:200px;
        position:absolute;
        right:0;
        z-index:9999;
    }

    #banner {
        position:fixed;
        left:0;
        top:50px;
    }
    #screenshot {
        width:50px;
        height:auto;
    }
</style>
<form method="post" id="edit-form" action="/admin/events/update">
    <select id="size-select">
        <% Event.flyer_formats.each do |f| %>
            <option value="<%=f[0]%>x<%=f[1]%>"><%=f[0]%>x<%=f[1]%></option>

        <% end %>
    </select>


    <label>name</label>
    <input type="text" name="name" value="<%=@event.name%>" placeholder="name"/>
    <label>starts</label>
    <% if @event.start && @event.start!="" %>
    <input type="date" id="start" name="start" value="<%=@event.start.in_time_zone("Santiago")%>">
    <% else %>
    <input type="date" id="start" name="start" value="">
    <% end %>
    <label>ends</label>
    <% if @event.end && @event.end!="" %>
    <input type="date" id="end" name="end" value="<%=@event.end.in_time_zone("Santiago")%>">
    <% else %>
    <input type="date" id="end" name="end" value="">

    <% end %>
    <input type="hidden" name="id" value="<%=@event.id%>"/>
    <input type="hidden" name="start_changed" value="false"/>
    <input type="hidden" name="end_changed" value="false"/>
    <label>background</label>
    <input type="text" name="background_url" value="<%=@event.background_url%>" placeholder="background_url"/>

    <label>text_color</label>
    <input type="text" name="text_color" value="<%=@event.text_color%>" placeholder="text_color"/>
    <label>title_color</label>
    <input type="text" name="title_color" value="<%=@event.title_color%>" placeholder="title_color"/>
    <label>acts</label>

    <input type="button" value="+" onclick="javascript:add_act()"> 
    <div id="acts">

    </div>
     <label>live</label>
    <input type="checkbox" name="live" value="true" <% if @event.live %>checked<% end %>>
    <% if @event.screenshot_url %>
        <label>flyers</label>
        <a href="/admin/events/flyers/<%=@event.id%>" target="_blank"><img src="<%=@event.screenshot_url%>" id="screenshot"/></a>
    <% end %>
    <input type="submit">

</form>
<%=render @event%>
<script>
    let acts=[];
    function resize() {

    }
    function render_acts() {
        html="<table>"
        for(let i=0;i<acts.length;i++) {
            console.log(acts[i])
            html=html+"<tr><td>"+acts[i].name+"</td><td><button onClick='javascript:destroy_act("+acts[i].id+")'>x</button></td></tr>"
        }
        html=html+"</table>"
        $("#acts").html(html);
    }
    function destroy_act(id) {
        $.ajax({
            type: "POST",
            url: "/admin/acts/destroy",
            data: "id="+id,
            dataType: "json",
            success: function(data){
                acts=data;
                render_acts();
            },
            failure: function(errMsg) {
                alert(errMsg);
            }
        });
    }
    function add_act() {
        var name=prompt("act name")
        if(name!=null) {
            $.ajax({
                type: "POST",
                url: "/admin/acts/create",
                data: "name="+name+"&id=<%=@event.id%>",
                dataType: "json",
                success: function(data){
                    acts=data;
                    render_acts();
                },
                failure: function(errMsg) {
                    alert(errMsg);
                }
            });
        }
    }
    var start_changed=false;
    var end_changed=false;
    function get_acts() {
        $.getJSON('/admin/acts/index/<%=@event.id%>', function (data) {
            acts=data;
            render_acts();
        });
    }
    $("#start").datetimepicker({
        onChangeDateTime:function(dp,$input){
            $('input[name="start_changed"]').val("true");

        }
    });
    $("#end").datetimepicker({
        onChangeDateTime:function(dp,$input){
            $('input[name="end_changed"]').val("true");

        }
    });
    function change_zoom(z) {
        zoom=z
        resize_banner(selected_size)
        onresize();

    }
    function resize_banner(selected_size) {
        console.log(selected_size);
        width=selected_size.split("x")[0]/zoom;
        height=selected_size.split("x")[1]/zoom;
        setTimeout(function() {
            onresize();

        },10);

        $("#banner").width(width);
        $("#banner").height(height);
    }
    var zoom=1
    var selected_size="<%=Event.flyer_formats[0][0]%>x<%=Event.flyer_formats[0][1]%>"

    $(document).ready(function () {
        get_acts();

        resize_banner(selected_size,zoom)
         $("#size-select").change(function(){
            selected_size = $(this).children("option:selected").val();
            localStorage.setItem("selected_size",selected_size)
            resize_banner(selected_size);

         });
        $("#zoom-select").change(function(){
            zoom = parseInt($(this).children("option:selected").val());
            localStorage.setItem("zoom",zoom)
            resize_banner(selected_size);

         });
        
        
    })

</script>
