<style>
  
   #banner {
       margin: 0 auto;
         background:url(/image/<%=@event.background_url%>) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
   }
   #event-name {
         padding-bottom:160px;
        margin: 0 auto;

   }
    #banner-acts {
        width:40%;
        margin: 0 auto;
      padding-bottom:100px;

    }
    #address {
      margin: 0 auto;
       width:30%;

    }
    #date {
       width:20%;
      margin: 0 auto;

    }
</style>
<div id="banner">
<% if title %>
<div id="event-name">
<%=raw Text2svg(@event.name, font: "#{Rails.root.join('public')}/arialnarrow.ttf", text_align: :left, bold: true)%>
</div>
<% end %>
<% if line_up %>

<div id="banner-acts">
<% @event.acts.each do |act| %>
   <%=raw Text2svg(act.name, font: "#{Rails.root.join('public')}/arialnarrow.ttf", text_align: :left, bold: true)%>
<% end %>



</div>
<% end %>
<% if address %>
<div id="address">
        <%=raw Text2svg("GRAL FLORES 223, PROVIDENCIA", font: "#{Rails.root.join('public')}/arialnarrow.ttf", text_align: :left, bold: true)%>
</div>
<% end %>
<% if date %>
<div id="date">

<% if @event.start %>
        <%=raw Text2svg(I18n.l(@event.start.in_time_zone("America/Santiago"), format: :short).upcase, font: "#{Rails.root.join('public')}/arialnarrow.ttf", text_align: :left, bold: true)%>
<% end %>
</div>
<% end %>

</div>
<script>
function findFirstDescendant(parent, tagname)
{
   const svg = document.getElementById(parent);
   var descendants = parent.getElementsByTagName(tagname);
   if ( descendants.length )
      return descendants[0];
   return null;
}

const svgs=document.getElementById('banner').getElementsByTagName('svg')
const svg_name = svgs[0]
svg_name.setAttribute("fill", "<%=@event.title_color%>")
var warps=[];
warps[0] = new Warp(svg_name)
warps[0].interpolate(200)
warps[0].transform(([ x, y ]) => [ x, y, y ])

for(let i=1;i<svgs.length;i++) {
   console.log(svgs[i]);
   svgs[i].setAttribute("fill", "<%=@event.text_color%>")
   warps[i] = new Warp(svgs[i])
   warps[i].interpolate(200)
   warps[i].transform(([ x, y ]) => [ x, y, y ])
}




let offset = 0
let noise = 3
let noise_up=true;
function animate()
{
   noise_effect=0
   // if(noise>5&&noise<6) noise_effect=noise 

   noise_effect_y=0
   if(noise%1==0) noise_effect_y=noise
   for(i=1;i<warps.length;i++) {
      warps[i].transform(([ x, y, oy ]) => [ x, oy + 88+noise*40 * Math.sin(x /80 + offset), oy ])
      offset += 0.01*i
   }
   warps[0].transform(([ x, y, oy ]) => [ x, oy + 33*i * Math.sin(x / 6 + offset), oy ])
   offset += 0.01*i
   if(noise_up) {

      noise=noise + 0.1;
      if(noise>3) noise_up=false
   } else {
      noise=noise - 0.1;
      if(noise<0) noise_up=true

   }
   requestAnimationFrame(animate)

}
function onresize() {
   banner_height=$("#banner").height()
   console.log("resize",banner_height);
   banner_width=$("#banner").width()
   console.log("resize",banner_width);
   if(banner_width>1000) {
      $("#event-name").css({"padding-top" : "10px"});
      $("#event-name").css({"padding-bottom" : "0px"});
      $("#address").css({"width" : "50%"});
      $("#banner-acts").css({"width" : "40%"});
      $("#banner-acts").css({"padding-top" : "10px"});
      $("#banner-acts").css({"padding-bottom" : "10px"});

   }
   if(banner_height<650) {
      $("#event-name").css({"width" : "90%"});
      $("#address").css({"width" : "90%"});

      $("#event-name").css({"padding-top" : "20px"});
      $("#event-name").css({"padding-bottom" : "70px"});
      $("#banner-acts").css({"padding-top" : "30px"});

   } 

}
$(document).ready(function () {
   onresize();
   $( window ).resize(function() {
      onresize();
   });
   $( "#banner" ).resize(function() {
      onresize();

   });
});

animate()
</script>