<!DOCTYPE html>
<html>
  <head>
    <title>Tubatuba</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="/warp.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<style>
td {
    padding:4px 6px
}

</style>
  </head>

  <body>
    <header id="admin-header">
      <div class="container">
      <ul>
        <a href="/admin/songs/index"><li>songs</li></a>
        <a href="/admin/events/index?category=next"><li>next events</li></a>
        <a href="/admin/events/new"><li>new event</li></a>
        <a href="/admin/events/index?category=past"><li>past events</li></a>
        <a href="/admin/events/index?category=deleted"><li>deleted events</li></a>
        <a href="/admin/video_formats/index"><li>video formats</li></a>
      </ul>
      </div>
    </header>
      <div class="container">
        <% if flash[:error]%>
          <div id="error">
            error: <%=flash[:error]%>
          </div>
        <% end %>
              </div>

        <%= yield %>
  </body>
</html>
