<!DOCTYPE html>
<html>
  <head>
    <title>Tubatuba</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <ul>
        <a href="/admin/events/index"><li>events</li></a>
        <a href="/admin/events/new"><li>new event</li></a>

      </ul>
    </header>
    <%= yield %>
  </body>
</html>
