<!DOCTYPE html>
<html>
  <head>
    <title>Tubatuba</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <div class="container">
      <ul>
        <a href="/admin/events/new"><li>new event</li></a>
        <a href="/admin/events/index?category=next"><li>next events</li></a>
        <a href="/admin/events/index?category=past"><li>past events</li></a>
        <a href="/admin/events/index?category=deleted"><li>deleted events</li></a>
      </ul>
      </div>
    </header>
      <div class="container">
        <%= yield %>
      </div>
  </body>
</html>
